<div class="py-3">
  <p>
    An Angular app to track tasks and set reminders. This app is part of the
    "Angular crash course' from
    <a
      class="link-secondary"
      target="_blank"
      href="https://www.traversymedia.com/"
      >Brad Traversy</a
    >
  </p>
  <p>Version: 1.0.0</p>
  <p>
    Layout by:
    <a href="https://github.com/rosgas" target="_blank" class="link-secondary"
      >Rossella Gasbarri</a
    >
  </p>
  <a
    href="https://github.com/rosgas/angular-task-traker"
    target="_blank"
    class="btn btn-outline-success"
    >GITHUB REPOSITORY</a
  >
</div>
