/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #6f42c1;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$form-check-input-checked-bg-color: $primary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

@import "../node_modules/bootstrap/scss/bootstrap";

.body-bg {
  background: linear-gradient(217deg, $green-200, rgba(0, 0, 0, 0) 60.7%),
    linear-gradient(127deg, $indigo-100, rgba(0, 0, 0, 0) 60.7%),
    linear-gradient(336deg, $orange-200, rgba(0, 0, 0, 0) 60.7%);
}

.form-label {
  margin-bottom: 5px;
}

.btn-link {
  color: $primary;
  text-decoration: none;
}

.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  color: $primary;
  opacity: 0.8;
}
